<div class="container font-k2d">
  <div class="d-flex justify-content-between">
    <h2>Sus Datos son:</h2>
    <button class="btn btn-primary m-2" (click)="navigateToHome()">
      <h4>Finalizar Registro</h4>
    </button>
  </div>
</div>

<div style="background-color: #d9d9d9">
  <div class="container font-k2d">
    <div class="row p-4">
      <div class="col">
        <div
          class="card"
          style="width: 18rem; background-color: #800020; color: white"
        >
          <div class="card-body">
            <h5 class="card-title font-julius">Jose Maria R.</h5>
            <h6 class="card-text font-k2d">
              <strong>Unidad Educativa:</strong> Don Bosco
            </h6>
            <h6 class="card-text font-k2d">
              <strong>Fecha de Nacimiento:</strong> 02-01-2008
            </h6>
            <h6 class="card-text font-k2d"><strong>Sexo:</strong> Masculino</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="card"
          style="width: 18rem; background-color: #800020; color: white"
        >
          <div class="card-body">
            <h5 class="card-title font-julius">Cristhian P.</h5>
            <h6 class="card-text font-k2d">
              <strong>Unidad Educativa:</strong> Don Bosco
            </h6>
            <h6 class="card-text font-k2d">
              <strong>Fecha de Nacimiento:</strong> 24-06-2009
            </h6>
            <h6 class="card-text font-k2d"><strong>Sexo:</strong> Masculino</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="card"
          style="width: 18rem; background-color: #800020; color: white"
        >
          <div class="card-body">
            <h5 class="card-title font-julius">Erick A.</h5>
            <h6 class="card-text font-k2d">
              <strong>Unidad Educativa:</strong> Don Bosco
            </h6>
            <h6 class="card-text font-k2d">
              <strong>Fecha de Nacimiento:</strong> 11-03-2010
            </h6>
            <h6 class="card-text font-k2d"><strong>Sexo:</strong> Masculino</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
